.feature-bar { }

#vis-area { height: 615px; overflow: hidden;}

.data-grid { height: 400px; overflow: scroll;}

.data-grid-bar {
	height: 50px;
	overflow: hidden;
	background-color: #363636;
	color: #ffffff;
	border-radius: 25px 25px 0px 0px;
	padding-top: 10px;
}

.full-width{
	width: 100%;
}

.custom-table {height: 400px; overflow: auto;}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.header-mimic {
	background-color: #EEE;
	color : #222;
	text-align : center;
	font-weight : normal;
	white-space : nowrap;
}

table {
max-width :999999%;
}
