.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart{
	height: 380px;
	width: 100%;
}

.popover {
    position:absolute;
    display:none;
    background:#fff;
    border: 1px solid #999;
    padding:10px;
    width:auto;
    box-shadow:0 0 10px rgba(0, 0, 0, .5);

}
.popover:after, .popover:before {
    right: 50%;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popover:after {
	width: 0; 
	height: 0;
	border-color: rgba(255, 255, 255, 0);
	border-top: 10px solid #ffffff;
	border-width: 10px;
	top: 100%;
}
/
.popover:before {
	width: 0; 
	height: 0;
    border-color: rgba(201, 201, 201, 0);
    border-top: 10px solid #c9c9c9;
    border-width: 11px;
    margin-top:2px;
    top: 100%;
}