export(plotHistogram)
export(histoFromFeature)
export(histogram)

export(identity)
export(ggplot)
export(aes_string)
export(aes)
export(geom_density)
export(geom_dotplot)
export(geom_histogram)
export(geom_smooth)
export(geom_point)
export(geom_line)

export(read.csv)


import(ggplot2)
import(MASS)