export(plotHistogram)
export(histoFromFeature)
export(histogram)
export(runPlot)
export(identity)
export(ggplot)
export(aes_string)
export(aes)
export(geom_density)
export(geom_dotplot)
export(geom_histogram)
export(geom_boxplot)
export(geom_smooth)
export(geom_point)
export(geom_line)
export(geom_jitter)
export(geom_vline)
export(geom_pointrange)
export(coord_flip)
export(theme_bw)
export(read.csv)
export(fromJSON)
export(facet_grid)
import(ggplot2)
import(MASS)
import(dplyr)
import(jsonlite)