<a href="#/explore/{{datasetId}}"><i class="fa fa-arrow-right fa-2x"></i></a>
<div class="main-data-preview">

	<div class="input-group input-group">
	  <span class="input-group-addon" id="sizing-addon1">Object name</span>
	  <input type="text" class="form-control" value="{{dataVar}}" aria-describedby="sizing-addon1" ng-model="dataVar" id="dataVarInput">
	</div>
	<div class="custom-table" id="data-preview-container"></div>
	<!-- <div  ui-ace="{ onLoad : aceLoaded }" class="editor-data-preview"></div> code for angular-->
	<div id="editor" class="editor-data-preview"></div>
</div>
	<div class="read-table-paramenters">
		<div class="input-group input-group">
  			<span class="input-group-addon" id="sizing-addon1">Separator</span>
  			<input type="text" id="separator-param" class="form-control" placeholder="" aria-describedby="sizing-addon1" value=",">
		</div>
	</div>

<script>


	/* Ace editor setup */
	var dataFile = "datasets/UScereal.csv";
	var dataVar = "cereal.dt";

	var _editor = ace.edit("editor");
    var _session = _editor.getSession();

    _editor.$blockScrolling = Infinity; //suppress scroll warning
   	$( "#dataVarInput" ).focusin(function() {

   		var range = _editor.findAll($("#dataVarInput").val());
   		console.log(range);
	});	

	$("#dataVarInput").focusout(function(){
		if (_editor.selection.rangeCount > 1){
			_editor.forEachSelection({exec : function(){
				_editor.clearSelection();
			}});
		} else {
			_editor.clearSelection();
		}
	});

   	$( "#dataVarInput" ).keyup(function() { 

		_editor.replace($( "#dataVarInput" ).val(), _editor.selection.getRange());
		_editor.findAll($("#dataVarInput").val());
	});

    _editor.setTheme("ace/theme/twilight");
    _session.setMode("ace/mode/r");
	
	/* Handsontable setup */
	var container = document.getElementById('data-preview-container');
	var isChecked = false; //used to select header

	/* Handsontable renderers */
  	function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
    	Handsontable.renderers.TextRenderer.apply(this, arguments);

    	td.style.textTransform = "uppercase";
    	td.style.backgroundColor =  "#EEE";
  		td.style.color = "#222";
  		td.style.textAlign = "center";
  		td.style.fontWeight =  "normal";
  		td.style.whiteSpace = "nowrap";
    	//td.style.background = '#CEC';
    	
  	}

  	/* Handsontable renderers */
  	function noHeaderRenderer(instance, td, row, col, prop, value, cellProperties) {
    	Handsontable.renderers.TextRenderer.apply(this, arguments);
    	
    	
  	}

	var hot = new Handsontable(container, {
		colHeaders : function(col){
				return "V" + col;
    	},
   		rowHeaders: function(row){
   			var txt;

   			if (row === 0) {
   				txt = "<input type='checkbox' id='checker' ";
   				txt += "data-toggle='tooltip' data-placement='left' title='Set as header'";
   				txt += isChecked ? 'checked="checked"' : '';
          		txt += ">";
   				return txt;
   			} else {
   				return row
   			}
   		},
   		contextMenu: true,
   		customBorders: true,
		manualColumnMove: true,
  		manualRowMove: true,
  		manualColumnResize: true,
  		manualRowResize: true,
  		cells: function(row, col, prop){
  			var cellProperties = {};

  			if ((row === 0) && (isChecked)) {

        		cellProperties.renderer = firstRowRenderer; // uses function directly
      		} else if (row === 0){
      			cellProperties.renderer = noHeaderRenderer;
      		}

  			return cellProperties;
  		},
  		beforeRemoveCol : function(index, amount){
  			var feature = hot.getDataAtCell (0, index);
  			console.log("column " + feature + " was removed");

  			_editor.insert( colDeleteString(dataVar, feature) + "\n");
  		},
  		afterCreateCol : function(index,amount){
  			hot.setDataAtCell (0, index, "a");
  			_editor.insert( colAddString("a") + "\n");
  		},
  		afterChange : function(changes){
  			var rowIndex;

  			if (changes != null){
  				rowIndex = changes[0][0];

  				/*saving the changes to local storage*/
  				localStorage.setItem( 'tableData', JSON.stringify({data: hot.getData()}) );
  				console.log("Stored data: \n");
				console.log(JSON.parse(localStorage.getItem('tableData')));
				//TODO: function to papa-unparse json to csv, call papa-parse to refresh after sep is changed

  			}

  			if (rowIndex === 0) {
  				var newVal = changes[0][3];
  				_editor.insert( colAddString(newVal) + "\n");
  			}


  		}
	});

	/* header event listener */
  Handsontable.Dom.addEvent(container, 'mousedown', function (event) {
    if (event.target.nodeName == 'INPUT' && event.target.id == 'checker') {
     	event.stopPropagation();
    }
  });

  Handsontable.Dom.addEvent(container, 'mouseup', function (event) {
    if (event.target.nodeName == 'INPUT' && event.target.id == 'checker') {
      
      	isChecked = !event.target.checked;

      	if(isChecked){
      		hot.updateSettings({colHeaders : false});
      	}   else {
			hot.updateSettings({colHeaders : function(col){
				return "V" + col;
    		}});

      	}   
      	hot.render();
      
      var delimVal = $("#separator-param").val();
      _editor.insert(buildReadString(dataFile, isChecked, delimVal) + "\n");
    }
  });


    $("#refreshTable").click(function(){

    	var mySnippet = new ocpu.Snippet(_session.getValue());

/*
   		var req = ocpu.call("identity", {
   		    "x" : mySnippet
   		}, function(session){
  		    session.getObject(function(data){
   		        console.log("Read csv response: " + data); 
   		    });
   		});

*/
   		var req = ocpu.call("read.csv", {
   		    "file" : "datasets/UScereal.csv",
   		    "header" : "TRUE"
   		}, function(session){
  		    session.getObject(function(data){
   		        console.log("Read csv response: " + data); 
   		    });
   		});

    });

		$(document).ready(loadTable($("#separator-param").val()));

		$("#separator-param").keyup(function(){

			var newSeparator = $("#separator-param").val();

			if(newSeparator != ""){
				loadTable(newSeparator);
			} else {
				hot.updateSettings({data : [[]] } );
			}
		
		});


		function loadTable(delimVal){
//			console.log(window.location.pathname);
			$.get("datasets/UScereal.csv", function(data){		
				Papa.parse(data, {
		//			header: true,
					delimiter : delimVal,
					complete: function(results) {
						//console.log(results.data);
						//hot.updateSettings({colHeaders : results.data[0]});
						hot.loadData(results.data);
						localStorage.setItem( 'tableData', JSON.stringify(results.data) );
						//_editor.gotoLine(1);
						var readString = buildReadString(dataFile, isChecked, delimVal) + "\n";
						_editor.insert(readString);

					}			
				});
			});			
		}

		function buildReadString(dataFile, isChecked, separator){
			var readString = "";
			var checkedStr = isChecked ? "TRUE" : "FALSE"; 
			readString += dataVar + "<- read.csv(file='"+dataFile+ "', header="+ checkedStr +", sep='"+separator +"')";

			return readString;
		}

		function colDeleteString(dataVar, feature){

			return dataVar + "<- " + dataVar +"[, "+ feature+":=NULL]";
		}

		function colAddString(feature){
			return dataVar + "<- dplyr::("+dataVar+",data.frame("+ feature + "=numeric(0)))";
		}


</script>