<!-- explore.html -->
<div class="row">

	<div class="col-md-6 col-md-offset-3 vis-area"> <!-- left column -->
		<div class="panel panel-default">
			<div class="panel-heading text-center"><strong>{{panelHeadingStr}}</strong></div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="plot in plots " ng-if="plot.arity == selectedItems">
					<!--<a href="#/plot/{{plot.id}}" class="thumb"><img ng-src="{{plot.imageUrl}}"></a>-->
					<a href="#/plot/{{dataToPlot}}/{{plot.id}}">{{plot.id}}</a>
					{{plot.snippet}}
				</li>
			</ul>
		</div>
		<!--<div>Selected Items Length: {{selectedItems}}</div>-->
	</div>
	<!-- maybe general transcript column here -->
</div>
<div class="row footer">
	<div class="col-md-12">
		<div class="btn-group btn-group-justified" data-toggle="buttons">
			<label class="btn btn-default" ng-repeat="(key, value) in firstRow" ng-click="updateChecked(key)">
				<input type="checkbox" autocomplete="off" value="{{key}}" ><strong class="text-uppercase">{{key}}</strong>
			</label>
		</div>
	</div>
</div>
<!--
<div class="row" id="data-grid-bar">
	<div class="col-md-12">
  		<a href="" data-toggle="collapse" data-target="#q2-editor" aria-expanded="false" aria-controls="q2-editor">
  			<div class="text-center data-grid-bar">Data Grid</div>
  		</a>
	</div>
</div>
-->