    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8"> <!-- header title goes here -->
                <h2>
                <code>{{headerTitle}}</code>
                </h2>
            </div> <!-- .header title -->
            <div class="col-md-4">
                <ol class="list-inline navbar-right">
                    <li ng-repeat="info in infoLinks">
                        <a href="#"><code>{{info.name}}</code></a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default"> <!-- main menu navigation -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Tasks <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="task in tasks"><a href="#" id="{{task.id}}" ng-click="setWorkspaceFromTask(task.id)">{{task.name}}</a></li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </div>
    </div>