.editor{
	height: 300px;
    width:  100%;
}

.navbar-right{
	float: right;
}

.bordered{
	border: 1px solid black;
}

#workspace{
	height: 400px;
	background: #F6F6F6;
	color: #2B2B2B;
	z-index: -1;
}

.ui-draggable-dragging { z-index: 10000!important; }


.modal, .fade {
	zIndex: 1000;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

   	.axis path,
		.axis line {
    		fill: none;
    		stroke: black;
    		shape-rendering: crispEdges;
		}
		.axis text {
    		font-family: sans-serif;
    		font-size: 11px;
		}

		.legend{
			font-size: 12px;
		}

		rect {
			stroke-width: 2;
		}
