.editor{
	height: 300px;
    width:  100%;
}

.navbar-right{
	float: right;
}

.bordered{
	border: 1px solid black;
}

#workspace{
	height: 400px;
	background: #F6F6F6;
	color: #2B2B2B;
	z-index: -1;
}

.ui-draggable-dragging { z-index: 10000!important; }


.modal, .fade {
	zIndex: 1000;
}
