<div class="jumbotron">
	<h1>Hello, please select a data set to start</h1>
	
	<!-- Split button -->
	<div class="btn-group">
		<button type="button" class="btn btn-primary btn-lg">Select dataset</button>
	 	
	 	<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
	    	<span class="sr-only">Toggle Dropdown</span>
	  	</button>

	  <ul class="dropdown-menu">
	    <li><a href="#">US cereals</a></li>
	    <li><a href="#">Iris</a></li>
	    <li><a href="#">...</a></li>
	  </ul>
	</div>
</div>

<a class="btn btn-primary btn-lg" href="#/explore" role="button"><i class="fa fa-arrow-right fa-5x"></i> Continue</a>