<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tasks</a></li>
            <li class="active">K-nearest neighbor</li>
        </ol>
    </div>

    <div class="row">
            <div class="col-md-2 ">
                <div class="list-group">
                  <!--<a href="" id="{{step.id}}" ng-repeat="step in steps" class="list-group-item" ng-click="loadStepContext(step.id)">{{step.description}}</a>-->

                  <h4 id="{{step.id}}" ng-repeat="step in steps" ng-click="loadStepContext(step.id)" >
                    <span class="label label-default">{{$index}}</span>
                    <a href="">{{step.description}}</a>
                  </h4>
                </div>
            </div>

            
                <div class="col-md-6" ng-include="'html/tasks/'+stepContext.context+'.html'" id="contextPlaceholder"></div>
                <div class="col-md-4"> 
                    <div class="editor" ui-ace="aceOptions" ng-model="code" id="aceEditor"></div>        
                    <button type="button" class="btn btn-default" ng-click="runcode()" id="runbutton">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run
                    </button>
                </div>
            

            <!--
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">Workspace</div>
                    <div class="panel-body" id="workspace"></div>
                </div>                            
            </div> 
            <div class="col-md-4"> 
                <div class="editor" ui-ace="aceOptions" ng-model="code" id="aceEditor"></div>        
                <button type="button" class="btn btn-default" ng-click="runcode()" id="runbutton">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run
                </button>
            </div>
            -->
    </div>
</div>


<div class="modal fade" id="rnorm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><code>rnorm</code> Random generator for the normal distribution</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Number of observations</span>
                    <input type="text" id="rnorm-obs" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
    