<div class="row">
  <div class="col-md-1">
  	<button type="button" class="btn btn-success" ng-click="loadCsv()">Make plot</button>
  </div>

  <div class="col-md-2" id="tableHolder">
  	<i class="fa fa-table fa-2x"></i>
  </div>

  <div class="col-md-3" id="plotHolder">
  	<i class="fa fa-line-chart fa-2x"></i>
  </div>
  
<!--
  <div class="col-md-4"> 
  	<div class="editor" ui-ace="aceOptions" ng-model="code" id="aceEditor"></div>        
  	<button type="button" class="btn btn-default" ng-click="runcode()" id="runbutton">
  	    <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run
  	</button>
  </div>
-->
</div>








